<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Title</title>

    <link rel="stylesheet" href="css/project.css">

    <script src="js/libs/jquery-3.0.0.min.js"></script>
    <script src="js/libs/jquery-weui.min.js"></script>
    <script src="js/libs/vue2.0.js"></script>
    <script src="js/libs/parsley.min.js"></script>
    <script src="js/project.js"></script>

    <style>
        body{background-color: #f2f3f8;padding-top: 44px;padding-bottom: 40px;}
        .weui_cells{font-size: 16px;}
        /* 内容区标题--学校信息、投保人信息、被保人信息 */
        .qc_cell_title{  align-items: baseline;border-bottom: solid 1px #d4d4d4;  }
        /* 投保计划 */
        .weui_cells:after{border: none;}
        .weui_cells.plan{padding: 10px 0px 30px;}
        .weui_cells.plan .weui_cell:before,.noBorder.weui_cell:before{display: none;}
        .weui_cells.plan .weui_cell{padding: 4px 15px;}
        .weui_cells.plan .weui_cell_ft{color: #333;}
        /* 锯齿 */
        .sawtooth{position:relative;}
        .sawtooth:after{content: "";position: absolute;bottom: 0;width:100%;height: 10px;margin-top: 20px;background-size: 12px 20px;}
        .sawtooth:after{background-color: #f2f3f8;background-position: 50% 15%;
            background-image: linear-gradient(-45deg, #fff 25%, transparent 25%, transparent),
            linear-gradient(-135deg, #fff 25%, transparent 25%, transparent),
            linear-gradient(-45deg, transparent 75%, #fff 75%),
            linear-gradient(-135deg, transparent 75%, #fff 75%);}
        /* 投保计划 */

        /* 信息填写 */
        .weui_icon_checked{margin-right: 10px;}
        .weui_cell_select {  padding: 0 15px;  }
        .weui_cell_ft{color: #333;}
        .toolbar .picker-button{color: #007de2;}

        /* 出身日期填写 */
        .hidden{opacity: 0;}
        .placeholder{position: absolute;right: 15px;top:0;line-height: 42px;color: #8a90af;}

        /* 表单结果信息提示 */
        .validate-success{
            color: #468847;
            background-color: #DFF0D8;
            border: 1px solid #D6E9C6;
        }
        .validate-error{
            color: #B94A48;
            background-color: #F2DEDE;
            border: 1px solid #EED3D7;
        }
    </style>
</head>
<body>
<div id="app" style="display: none;">
    <header class="fixed_top">
        <div class="header_left back">
            <i class="iconfont icon-back"></i>
        </div>
        <div class="header_title">保单信息填写</div>
    </header>

    <div class="weui_cells_title">投保计划</div>
    <div class="weui_cells sawtooth plan">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">保险起期</div>
            <div class="weui_cell_ft">{{product.policyStartTime}}</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">保险止期</div>
            <div class="weui_cell_ft">{{product.policyEndTime}}</div>
        </div>
        <div class="weui_cell border-bottom dashed" style="padding-bottom: 10px;">
            <div class="weui_cell_bd weui_cell_primary">保险时限</div>
            <div class="weui_cell_ft">{{product.policyDay}}</div>
        </div>
    </div>

    <form id="form" data-parsley-validate data-parsley-ui-enabled="false">
        <div class="weui_cells_title">信息填写</div>
        <div class="weui_cells weui_cells_access">
            <div class="weui_cell qc_cell_title">
                <div class="weui_cell_hd">学校信息</div>
            </div>
            <a class="weui_cell noBorder" href="chooseSchool.html">
                <div class="weui_cell_hd weui_cell_primary">学校</div>
                <div class="weui_cell_bd">
                    <div class="g-align-right">{{schoolName}}</div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>

            <div class="weui_cell">
                <label class="weui_label weui_cell_bd weui_cell_primary">
                    班级
                </label>
                <div class="weui_cell_bd">
                    <input class="weui_input g-align-right"  name="protectedPerson.insurantClass" placeholder="请选择班级" type="text" id='picker' required tip="班级">
                </div>
                <!--<div class="weui_cell_ft"></div>-->
            </div>
        </div>
        <div class="weui_cells weui_cells_radio">
            <div class="weui_cell qc_cell_title" >
                <div class="weui_cell_hd weui_cell_primary">被保人信息<span
                        style="font-size:12px;color: #007de2;">(学生)</span></div>
                <div class="weui_cell_ft" style="font-size: 12px;line-height: 24px;" >
                    <input id="fileupload" name="files[]" class="weui_uploader_input" type="file" accept="image/*" >
                    拍身份证录入<i class="iconfont icon-xiangji"></i>
                </div>
            </div>

            <div class="weui_cell noBorder">
                <div class="weui_cell_hd weui_cell_primary">身份证号</div>
                <div class="weui_cell_ft">
                    <input type="text" v-model="protectedPerson.insurantCardNo" name="protectedPerson.insurantCardNo" class="weui_input g-align-right" placeholder="有则填，避免纠纷"  pattern="/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/" tip="身份证号">
                </div>
            </div>

            <div class="weui_cell ">
                <div class="weui_cell_hd weui_cell_primary">姓名</div>
                <div class="weui_cell_ft">
                    <input v-model="protectedPerson.insurantName" name="protectedPerson.insurantName" class="weui_input g-align-right" placeholder="必填" required tip="姓名">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd weui_cell_primary">性别</div>
                <div class="weui_cell_ft ">
                    <label for="s11" style="padding-left: 20px;">
                        <input type="radio" v-model="protectedPerson.insurantGender" name="protectedPerson.insurantGender" value="男" class="weui_check"
                               id="s11" required>
                        <span class="weui_icon_checked_primary"></span>
                        <span>男</span>
                    </label>
                    <label for="s12" style="padding-left: 20px;">
                        <input type="radio" v-model="protectedPerson.insurantGender" name="protectedPerson.insurantGender" value="女" class="weui_check"
                               id="s12">
                        <span class="weui_icon_checked_primary"></span>
                        <span>女</span>
                    </label>
                </div>
            </div>


            <div class="weui_cell">
                <label for="date-picker" class="weui_cell_hd weui_cell_primary">出生日期</label>
                <div class="weui_cell_ft" style="min-width: 100px;">
                    <label v-show="!protectedPerson.insurantBirthday" for="date-picker" class="placeholder">请选择出生日期</label>
                    <input id="date-picker" type="date" v-model="protectedPerson.insurantBirthday" name="protectedPerson.insurantBirthday" class="weui_input"
                           :class="{'hidden': !protectedPerson.insurantBirthday}" required tip="出生日期">
                </div>
            </div>

        </div>

        <div class="weui_cells">
            <div class="weui_cell qc_cell_title" >
                <div class="weui_cell_hd weui_cell_primary">投保人信息<span
                        style="font-size:12px;color: #007de2;">(父/母)</span></div>
                <div class="weui_cell_ft"  style="font-size: 12px;line-height: 24px;">
                    <input  name="protectedPerson.identifyPhoto" class="weui_uploader_input" type="file" accept="image/*">
                    拍身份证录入<i class="iconfont icon-xiangji"></i></div>
            </div>
            <div class="weui_cell noBorder">
                <div class="weui_cell_hd weui_cell_primary">身份证号</div>
                <div class="weui_cell_ft">
                    <input v-model="payProtectedPerson.holderCardNo" name="payProtectedPerson.holderCardNo" type="text" class="weui_input g-align-right"
                           placeholder="有则填，避免纠纷" pattern="/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/" tip="投保人身份证号">
                </div>
            </div>
            <div class="weui_cell ">
                <div class="weui_cell_hd weui_cell_primary">姓名</div>
                <div class="weui_cell_ft">
                    <input v-model="payProtectedPerson.holderName" name="payProtectedPerson.holderName" class="weui_input g-align-right" placeholder="必填" required tip="投保人姓名">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd weui_cell_primary">手机号</div>
                <div class="weui_cell_ft">
                    <input v-model="payProtectedPerson.holderPhone" name="payProtectedPerson.holderPhone" type="number" class="weui_input g-align-right"
                           placeholder="必填" required pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" tip="投保人手机号">
                </div>
            </div>

        </div>

        <div style="margin: 28px 15px;">
            <a  onclick="submit()" class="weui_btn" >提交订单</a>
        </div>
    </form>

</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: function () {
            return {
                /* 学校信息 */
                schoolId:'',
                schoolName:'',
                /* 保险产品 */
                product: {
                    productId:'',
                    policyStartTime:'',
                    policyEndTime:'',
                    policyDay:''
                },
                /* 被保人信息 */
                protectedPerson:{
                    insurantName:'',
                    insurantGender:'',
                    insurantCardNo:'',
                    insurantClass:'',
                    insurantBirthday:'',
                    insurantPhoto:''
                },
                /* 投保人信息 */
                payProtectedPerson:{
                    holderName:'彭生',
                    holderPhone:'18825144569',
                    holderCardNo:'',
                    holderCardPhoto:''
                },
                formValid: false    // 表单验证通过了吗？
            }
        },
        /* 监控数据变化 */
        watch: {
            protectedPerson: {
                /* 变化时执行函数 */
                handler: function (val, oldVal) {
                    console.log(val);
                },
                deep: true
            }
        },
        methods: {

        },
        created: function () {
            /* 获取允许修改的字段和数据 */
            $.get('./data/product.json', function (data) {
                if(data.code == 0){
                    vm.product = data.products[0];
                    vm.schoolName = data.schoolName;
                }else {
                    console.log(data.errMsg);
                }
            });

            setTimeout(function () {
                // 初始化班级选择插件
                $("#picker").picker({
                    title: "请选择班级",
                    cols: [
                        {
                            textAlign: 'center',
                            values: ['一年级', '二年级', '三年级', '四年级', '五年级', '六年级', '七年级', '八年级', '九年级', '高一', '高二', '高三'],
                            displayValues:['一年级', '二年级', '三年级', '四年级', '五年级', '六年级', '七年级', '八年级', '九年级', '高一', '高二', '高三']
                        },
                        {
                            textAlign: 'center',
                            values: ['1班', '2班', '3班', '4班', '5班', '6班', '7班', '8班', '9班', '10班','11班', '12班', '13班', '14班', '15班', '16班', '17班', '18班', '19班', '20班'],
                            displayValues: ['1班', '2班', '3班', '4班', '5班', '6班', '7班', '8班', '9班', '10班','11班', '12班', '13班', '14班', '15班', '16班', '17班', '18班', '19班', '20班'],
                        }
                    ],
                    onChange: function (e) {
                        vm.protectedPerson.className = e.value.join(" ");
                    }
                });

                // 初始化表单验证插件
                initParsley(function () {
                    window.location.href = 'page2-checkMsg.html'
                });

            },1000);

            $('#app').show();
        }
    });
    
    /* 提交订单 */
    function submit() {
        var form = $('#form');
        var imgInputs = $('input[accept^="image"]');
        for(var i=0; i<imgInputs.length; i++){
            console.log(imgInputs[i].files);
        }
        form.submit();
    }

    /* 绑定表单验证事件
    * @param callback 表单验证成功时的执行函数
    * */
    function initParsley(callback) {
        /* 表单验证 */
        Parsley.on('form:error', function (formInstance) {
            formInstance.fields.every(function (fieldInstance) {
                var ok = fieldInstance.isValid();
                if (!ok) {
                    var tip = $(fieldInstance.$element).attr('tip') || "";
                    var ErrorsMessages = fieldInstance.getErrorsMessages();
                    showInfo(tip + ErrorsMessages);
                    return false
                } else {
                    return true
                }
            });
        }).on('form:success', function (formInstance) {
//            console.log(formInstance.$element.serialize());
            callback? callback():'';
        }).on('form:submit', function () {
            return false
        });
    }

    /* 班级改变时 */
    function classNameChange(val) {
        console.log(val);
    }
</script>

</body>
</html>